@using Battle.ViewModel
@model MapViewModel
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label>Opponent: </label>
    @Html.DisplayFor(model => model.NamePlayer)


<table class="table-bordered">
    <tbody>
    @for (int i = 0; i < Model.HighMap; i++)
    {
        <tr>
            @for (int j = 0; j < Model.LengthMap; j++)
            {
                if (Model.Fields.FirstOrDefault(x => x.X == j && x.Y == i && x.State == State.Pudlo) != null)
                {
                    <td class="Fail"> . </td>
                }
                else if (Model.Fields.FirstOrDefault(x => x.X == j && x.Y == i && x.State == State.Zatopiony) != null)
                {
                    <td class="Sink"> X </td>
                }
                else
                {
                    <td class="Cell"></td>
                }

            }
        </tr>
    }
    </tbody>
</table>
</body>
</html>
